* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

/* ==================
    common css ends
=================== */
.navbar .navbar-nav .nav-item .nav-link {
  font-family: #444444;
  font-weight: 400;
  font-size: 20px;
  text-transform: capitalize;
  color: #444444;
  padding-left: 40px;
  transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -ms-transition: all linear 0.4s;
  -webkit-transition: all linear 0.4s;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #00bbff;
}

/* =======================
    navbar css ends
======================== */
#banner {
  position: relative;
}
#banner .side-text {
  position: absolute;
}
#banner .side-text h3 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 118px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.05);
  writing-mode: sideways-lr;
}
#banner .banner-text a {
  font-family: #444444;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  background: linear-gradient(to right, #00bbff, #0066e7);
  line-height: 46px;
  padding: 0 20px;
}
#banner .banner-text a:hover {
  background: linear-gradient(to left, #00bbff, #0066e7);
}
