@import 'colors';
@import 'mixin';

.navbar{
    .navbar-brand{

    }

    .navbar-nav{
        .nav-item{
            .nav-link{
                font-family: $pf;
                font-weight: 400;
                font-size: 20px;
                text-transform: capitalize;
                color: $pf;
                padding-left: 40px;
                @include trans(0.4s);
                
                &:hover{
                    color: $grcl1;
                }
            }
        }
    }
}

/* =======================
    navbar css ends
======================== */