@import ' colors';
@import 'mixin';

#service{
    position: relative;
    background: $bg1;
    padding-top: 60px;
    padding-bottom: 60px;
    .side-text{
        position: absolute;
        top: 0;
        .title{
            @include sideText;
            font-size: 78px;
        }
    }

    .service-item{
        padding: 30px;
        position: relative;
        @include trans(0.4s);
        border-radius: 5px;
        
        &::after{
            content: '';
            position: absolute;
            width: 3px;
            height: 0%;
            background: linear-gradient($grcl1,$grcl2);
            top: 0;
            right: 3px;
            @include trans(0.4s);
        }

        h2{
            @include title;
            font-size: 24px;
        }

        p{
            @include detail;
        }
        &:hover{
            background: #fff;
            &::after{
                height: 100%;
            }
        }
        
    }
}

/* ========================
    service css ends 
======================== */ 
